
name: ML Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    environment: secrets

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install huggingface_hub scikit-learn mlflow pandas joblib datasets

    - name: Run Pipeline Script
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        python run_pipeline.py
