
name: ML Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    environment: secrets

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install dill==0.3.8 uvicorn==0.38.0 pandas==2.2.2 scikit-learn==1.6.1 joblib==1.5.2 xgboost==3.1.1 huggingface-hub==0.36.0

    - name: Run Pipeline Script
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        python run_pipeline.py
